.App {
  text-align: center;
}

.header {
  background-color: rgb(0, 148, 227);
  padding: 10px;
  font-size: 1.2em;
  color: rgb(255, 255, 255);
}

@media (max-width: 600px) {
  .pokemon-display {
    width: 90%;
  }

  .caught-pokemon-item {
    width: 80px;
  }
}

.pokemon-display {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px auto;
  width: 300px;
  cursor: pointer;
}

.pokemon-display:hover {
  background-color: rgb(233, 252, 248);
}

.pokemon-display img {
  max-width: 100%;
  height: auto;
}

.caught-pokemon-area {
  margin-top: 20px;
}

.caught-pokemon-list {
  display: flex;
  justify-content: center;
}

.caught-pokemon-item {
  margin: 10px;
  padding: 5px;
  border: 1px solid #eee;
  width: 100px;
  box-shadow: 5px 5px 10px grey;
}

.caught-pokemon-item img {
  max-width: 100%;
  height: auto;
}

.game-controls {
  margin-top: 20px;
}

.win {
  background-color: rgb(0, 116, 0);
  padding: 1px;
  margin-top: 5px;
  margin-left: 25%;
  margin-right: 25%;
  color: rgb(236, 248, 0);
}

.btn-restart {
  background-color: blue;
  padding: 20px;
  color: white;
  border-radius: 5px;
  width: 150px;
  border: 1px solid white;
  cursor: pointer;
}

.btn-restart:hover {
  background-color: rgb(1, 1, 190);
}

h2::first-letter {
  text-transform: capitalize;
}

p::first-letter {
  text-transform: capitalize;
}

.c-orange-red {
  color: orangered;
}